[Unit]
Description=IMU Reader
After=default.target

[Service]
User=root
Group=root
RestartSec=3
Restart=always
WorkingDirectory=/imu/RTIMULib2/Linux/python/tests
ExecStart=/usr/bin/python imu_reader.py

[Install]
WantedBy=default.target
