<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}OpenExcavator{% end %}</title>
    {% block head %}
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/fontawesome.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/leaflet.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/proj.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/lodash.min.js"></script>
    <script src="/static/js/leaflet.js"></script>
    <script src="/static/js/common.js"></script>
    {% end %}
    {% block custom_js %}
    {% end %}
</head>
<body>
{% block settings %}
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="settingsModalLabel">Update settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form enctype="multipart/form-data" action="/update" method="post">
                {% module xsrf_form_html() %}
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="wifi_ssid">Wi-Fi Name</label>
                            <input id="wifi_ssid" type="text" class="form-control" name="wifi_ssid" placeholder="wifi_ssid" value="{{ config['wifi_ssid'] }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="wifi_psk">Wi-Fi Password</label>
                            <input id="wifi_psk" type="password" class="form-control" name="wifi_psk" placeholder="wifi_psk" value="{{ config['wifi_psk'] }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gps_host">GPS Host</label>
                            <input id="gps_host" type="text" class="form-control" name="gps_host" placeholder="gps_host" value="{{ config['gps_host'] }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="gps_port">GPS Port</label>
                            <input id="gps_port" type="text" class="form-control" name="gps_port" placeholder="gps_port" value="{{ config['gps_port'] }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="imu_host">IMU Host</label>
                            <input id="imu_host" type="text" class="form-control" name="imu_host" placeholder="imu_host" value="{{ config['imu_host'] }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="imu_port">IMU Port</label>
                            <input id="imu_port" type="text" class="form-control" name="imu_port" placeholder="imu_port" value="{{ config['imu_port'] }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="start_altitude">Start Altitude</label>
                            <input id="start_altitude" type="text" class="form-control" name="start_altitude" placeholder="start_altitude" value="{{ config['start_altitude'] }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="stop_altitude">Stop Altitude</label>
                            <input id="stop_altitude" type="text" class="form-control" name="stop_altitude" placeholder="stop_altitude" value="{{ config['stop_altitude'] }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="safety_height">Safety Height</label>
                            <input id="safety_height" type="text" class="form-control" name="safety_height" placeholder="safety_height" value="{{ config['safety_height'] }}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="safety_depth">Safety Depth</label>
                            <input id="safety_depth" type="text" class="form-control" name="safety_depth" placeholder="safety_depth" value="{{ config['safety_depth'] }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="antenna_height">Antenna Height</label>
                            <input id="antenna_height" type="text" class="form-control" name="antenna_height" placeholder="antenna_height" value="{{ config['antenna_height'] }}">
                        </div>
                        <div class="form-group col-md-6">
                             <label for="output_port">Position Output Port</label>
                             <input id="output_port" type="text" class="form-control" name="output_port" placeholder="output_port" value="{{ config.get('output_port', '') }}">
                        </div>
                    </div>
                    <div class="custom-file">
                        <input id="path" type="file" class="custom-file-input" name="path" data-text="{{ config['path'] }}">
                        <label class="custom-file-label" for="customFile">GeoJSON</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="action" value="save">Save changes</button>
                    <button type="submit" class="btn btn-primary" name="action" value="restart">Restart</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% end %}
<div class="container small d-flex flex-column" style="min-width: 100%; min-height: 100%">
    {% block nav %}
    <div class="row bg-dark">
        <a class="btn btn-info" style="width: 80px;" role="button" href="/">Main</a>
        <a class="btn btn-info" style="width: 80px;" role="button" href="/tools">Tools</a>
        <a class="btn btn-info" style="width: 80px;" role="button" href="/debug">Debug</a>
        <button type="button" class="btn btn-primary" style="width: 80px;" data-toggle="modal"
                data-target="#settingsModal">Settings
        </button>
    </div>
    {% end %}
    {% block content %}
    <p>OpenExcavator</p>
    {% end %}
</div>
</body>
</html>