{% extends base.html %}
{% block title %}OpenExcavator Debug{% end %}
{% block custom_js %}
    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/debug.js"></script>
{% end %}
{% block content %}
    <div class="row">
        <div class="col-sm-4 border border-primary">
            Latitude:&nbsp;<span id="lat" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            Longitude:&nbsp;<span id="lng" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            Altitude:&nbsp;<span id="alt" class="text-center">0</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 border border-primary">
            Roll:&nbsp;<span id="roll" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            Pitch:&nbsp;<span id="pitch" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            Yaw:&nbsp;<span id="Yaw" class="text-center">0</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 border border-primary">
            GPS Latitude:&nbsp;<span id="_lat" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            GPS Longitude:&nbsp;<span id="_lng" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            GPS Altitude:&nbsp;<span id="_alt" class="text-center">0</span>
        </div>
    </div>
    <div class="row fill d-flex justify-content-start">
        <div class="col border border-primary"  style="padding: 0">
            <div id="canvas" style="width: 100%; height: 100%; padding: 0; margin: 0;"></div>
        </div>
    </div>
{% end %}