{% extends base.html %}
{% block title %}OpenExcavator Debug{% end %}
{% block custom_js %}
    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/debug.js"></script>
{% end %}
{% block content %}
    <div class="row">
        <div class="col-sm-4 border border-primary">
            Latitude:&nbsp;<span id="lat" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            Longitude:&nbsp;<span id="lng" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            Altitude:&nbsp;<span id="alt" class="text-center">0</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 border border-primary">
            Roll:&nbsp;<span id="roll" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            Pitch:&nbsp;<span id="pitch" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            Yaw:&nbsp;<span id="yaw" class="text-center">0</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 border border-primary">
            GPS Latitude:&nbsp;<span id="_lat" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            GPS Longitude:&nbsp;<span id="_lng" class="text-center">0</span>
        </div>
        <div class="col-sm-4 border border-primary">
            GPS Altitude:&nbsp;<span id="_alt" class="text-center">0</span>
        </div>
    </div>
    <div class="row fill d-flex justify-content-start" style="position: relative">
        <div class="col border border-primary"  style="padding: 0">
            <div id="canvas" style="width: 100%; height: 100%; padding: 0; margin: 0;"></div>
        </div>
        <div style="position: absolute; top: 8px; left: 8px; font-weight: bold">
            <div style="color: red">X</div>
            <div style="color: green">Y</div>
            <div style="color: blue">Z</div>
        </div>
        <div style="position: absolute; top: 8px; right: 8px;">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="localGPS">
                <label class="custom-control-label" for="localGPS">Local GPS</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="localIMU" style="margin-left: 0;">
                <label class="custom-control-label" for="localIMU">Local IMU</label>
            </div>
        </div>
    </div>
{% end %}