<!DOCTYPE html>
<html lang="en">
<head>
	<title>Excavator</title>
	<meta name="viewport" content="initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/css/leaflet.css" />
	<link rel="stylesheet" href="/static/css/home.css" />
	<script	src="/static/js/jquery.min.js"></script>
	<script src="/static/js/popper.js"></script>
	<script	src="/static/js/proj.js"></script>
	<script	src="/static/js/bootstrap.min.js"></script>
	<script	src="/static/js/lodash.min.js"></script>
	<script src="/static/js/70120bc685.js"></script>
	<script src="/static/js/leaflet.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/home.js"></script>
</head>
<body>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Update settings</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
          <form enctype="multipart/form-data" action="/update" method="post">
          {% module xsrf_form_html() %}
	      <div class="modal-body">
                <div class="input-group">
			    	<span class="input-group-addon">Wifi SSID</span>
			    	<input id="wifi_ssid" type="text" class="form-control" name="wifi_ssid" placeholder="wifi_ssid" value="{{config['wifi_ssid']}}">
	          	</div>
	  	    	<div class="input-group">
			    	<span class="input-group-addon">Wifi PWD</span>
			    	<input id="wifi_psk" type="password" class="form-control" name="wifi_psk" placeholder="wifi_psk" value="{{config['wifi_psk']}}">
	          	</div>
	  	      	<div class="input-group">
			    	<span class="input-group-addon">GPS Host</span>
			    	<input id="gps_host" type="text" class="form-control" name="gps_host" placeholder="gps_host" value="{{config['gps_host']}}">
	          	</div>
	  	    	<div class="input-group">
			    	<span class="input-group-addon">GPS Port</span>
			    	<input id="gps_port" type="text" class="form-control" name="gps_port" placeholder="gps_port" value="{{config['gps_port']}}">
	          	</div>
	  	      	<div class="input-group">
			    	<span class="input-group-addon">IMU Host</span>
			    	<input id="imu_host" type="text" class="form-control" name="imu_host" placeholder="imu_host" value="{{config['imu_host']}}">
	          	</div>
	  	    	<div class="input-group">
			    	<span class="input-group-addon">IMU Port</span>
			    	<input id="imu_port" type="text" class="form-control" name="imu_port" placeholder="imu_port" value="{{config['imu_port']}}">
	          	</div>
	          	
		      	<div class="input-group">
			    	<span class="input-group-addon">Start Altitude</span>
			    	<input id="start_altitude" type="text" class="form-control" name="start_altitude" placeholder="start_altitude" value="{{config['start_altitude']}}">
	          	</div>
		      	<div class="input-group">
			    	<span class="input-group-addon">Stop Altitude</span>
			    	<input id="stop_altitude" type="text" class="form-control" name="stop_altitude" placeholder="stop_altitude" value="{{config['stop_altitude']}}">
	          	</div>
		      	<div class="input-group">
			    	<span class="input-group-addon">Antenna Height</span>
			    	<input id="antenna_height" type="text" class="form-control" name="antenna_height" placeholder="antenna_height" value="{{config['antenna_height']}}">
	          	</div>
		      	<div class="input-group">
			    	<span class="input-group-addon">Safety Height</span>
			    	<input id="safety_height" type="text" class="form-control" name="safety_height" placeholder="safety_height" value="{{config['safety_height']}}">
	          	</div>
		      	<div class="input-group">
			    	<span class="input-group-addon">Safety Depth</span>
			    	<input id="safety_depth" type="text" class="form-control" name="safety_depth" placeholder="safety_depth" value="{{config['safety_depth']}}">
	          	</div>
		      	<div class="input-group">
			    	<span class="input-group-addon">GeoJSON</span>
			    	<input id="path" type="file" class="form-control" name="path" placeholder="path" data-text="{{config['path']}}">
	          	</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="submit" class="btn btn-primary" name="action" value="save">Save changes</button>
		        <button type="submit" class="btn btn-primary" name="action" value="restart">Restart</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
	<div class="container small">
		<div class="row">
			<div class="col">
				<h3 class="text-center"><a href="/">Main</a></h3>
			</div>
			<div class="col">
				<h3 class="text-center"><a href="/tools">Tools</a></h3>
			</div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Settings</button>
		</div>
		<div class="row">
			<div class="col border border-primary">
				Latitude:
				<p id="plat" class="text-center">0</p>
			</div>
			<div class="col border border-primary">
				Longitude: <br>
				<p id="plng" class="text-center">0</p>
			</div>
			<div class="col border border-primary">
				Altitude/Bucket:
				<p id="palt" class="text-center">0</p>
			</div>
		</div>
		<div class="row">
			<div class="col-4 border border-primary">
				Slope: <span id="pslo" class="text-center">0</span><br>
				Clock: <span id="ptim" class="text-center">0</span>
			</div>
			<div class="col-4 border border-primary">
				Accuracy/Quality: <br>
				<p id="pacc" class="text-center">0</p>
			</div>
			<div class="col-4 border border-primary">
				Roll/Pitch/Yaw:<br>
 				<p id="rpy" class="text-center">0/0/0</p>				
			</div>
		</div>
		<div class="row">
			<div class="col-2 border border-primary">
				<p class="text-center" style="margin-bottom: 0; margin-top: 1rem">
					<i class="fa fa-arrows-v fa-4x" aria-hidden="true" style="color: #0275d8 !important"></i>
				</p>
				<p id="height" class="text-center">M</p>
				<p class="text-center">
					<i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
				</p>
				<p class="text-center">
					<i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i>
				</p>
				<p class="text-center">
					<i class="fa fa-arrow-down" aria-hidden="true"></i>
				</p>
				<p class="text-center">
					<i class="fa fa-arrow-up" aria-hidden="true"></i>
				</p>
				<p class="text-center">
					<i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i>
				</p>
				<p class="text-center">
					<i class="fa fa-arrow-up fa-3x" aria-hidden="true"></i>
				</p>
				<p class="text-center" style="margin-bottom: 0">
					<i class="fa fa-arrows-h fa-4x" aria-hidden="true" style="color: #0275d8 !important"></i>
				</p>
				<p id="distance" class="text-center">M</p>
			</div>
			<div id="map_wrapper" class="col-10 border border-primary"  style="padding: 0">
				<div id="mapid" style="width: 100%; height: 100%;"></div>
			</div>
		</div>
	</div>
    {% if error_msg %}
    	<p class="message">{{error_msg}}</p>
    {% end %}
</body>
</html>