<!DOCTYPE html>
<html>
	<head>
		<title>Excavator</title>
		<meta name="viewport" content="initial-scale=1.0">
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
		<script src="https://use.fontawesome.com/70120bc685.js"></script>
		<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
		<script src="/static/js/home.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col">
					<h1 class="text-center">Open Excavator</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-4 border border-primary">
					Latitude:
					<p id="plat" class="text-center">0</p>
				</div>
				<div class="col-4 border border-primary">
					Longitude: <br>
					<p id="plng" class="text-center">0</p>
				</div>
				<div class="col-4 border border-primary">
					Altitude:
					<p id="palt" class="text-center">0</p>
				</div>
				<div class="col-4 border border-primary">
					Heading: <br>
					<p id="pdir" class="text-center">0</p>
				</div>
				<div class="col-4 border border-primary">
					Accuracy: <br>
					<p id="pacc" class="text-center">0</p>
				</div>
				<div class="col-4 border border-primary">
					Solution: <br>
					<p class="bg-success text-white text-center">Fix</p>
				</div>
			</div>
			<div class="row">
				<div class="col-2 border border-primary">
					<h2 class="text-center">Height</h2>
					<p class="text-center">
						Down: <br>1M
					</p>
					<p class="text-center">
						<i class="fa fa-arrow-down fa-3x text-muted" aria-hidden="true"></i>
					</p>
					<p class="text-center">
						<i class="fa fa-arrow-down fa-2x text-success" aria-hidden="true"></i>
					</p>
					<p class="text-center">
						<i class="fa fa-arrow-down text-success" aria-hidden="true"></i>
					</p>
					<p class="text-center">
						<i class="fa fa-arrow-up text-muted" aria-hidden="true"></i>
					</p>
					<p class="text-center">
						<i class="fa fa-arrow-up fa-2x text-muted" aria-hidden="true"></i>
					</p>
					<p class="text-center">
						<i class="fa fa-arrow-up fa-3x text-muted" aria-hidden="true"></i>
					</p>
					<h2 class="text-center">Direction</h2>
					<p class="text-center">.25 M Left</p>
					<p class="text-center">
						<i class="fa fa-arrow-left fa-3x text-success" aria-hidden="true"></i>
						<i class="fa fa-arrow-left fa-2x text-success" aria-hidden="true"></i>
						<i class="fa fa-arrow-right fa-2x text-muted" aria-hidden="true"></i>
						<i class="fa fa-arrow-right fa-3x text-muted" aria-hidden="true"></i>
					</p>
				</div>
				<div class="col-10 border border-primary">
					<div id="mapid" style="width: 100%; height: 100%;"></div>
				</div>
			</div>
		</div>
	</body>
</html>