[Unit]
Description=IMU Server
After=default.target

[Service]
User=root
Group=root
RestartSec=3
TimeoutStopSec=5s
Restart=always
WorkingDirectory=/imu/RTIMULib2/Linux/python/tests
ExecStart=/usr/bin/python imu_server.py

[Install]
WantedBy=default.target
