[Unit]
Description=openexcavator
After=default.target

[Service]
User=www-data
Group=www-data
RestartSec=3
Restart=always
WorkingDirectory=/var/www/openexcavator
ExecStart=/usr/bin/python3 openexcavator.py

[Install]
WantedBy=default.target
