.message {
  margin: 10px 10px;
  color: #ff0000;
  font-size: 14px;
}

.input-group span, .input-group input {
	font-size: 80%
}

div.row p {
	font-weight: bold;
}


p i {
	color: #868e96!important;
}

html, body, .container {
	height: 100%;
	width: 100%;
}

.fill {
    flex:1;
}